.app-body {
  background-color: #e9ecef;
  display: block;
  min-height: inherit;
  height: 100%;
  overflow: hidden;
}


@media screen and (max-width: 992px) {
  .app-body{
    padding-top: 0px;
    border-radius: 0px;
  }
}
