<div class="container">
  <h3 class="component-header">
    Roles
    <button type="button" class="btn custom-btn small-btn" data-toggle="modal" data-target="#EditRole"
            (click)="addRole()" style="float: right;">Add Role
    </button>
  </h3>
  <div class="row no-side-margin">
    <div class="col-12">
      <form class="form-inline filter-section">
        <div class="form-group">
          <label>Filter:&nbsp;</label>
          <select class="form-control form-control-sm" name="RoleFilterStatus" #RoleFilterStatus
                  (change)="filterRolesByStatus(RoleFilterStatus.value)">
            <option value="">All roles</option>
            <option value="ACTIVE">Active roles</option>
            <option value="NOT_ACTIVE">Not Active roles</option>
          </select>
        </div>
      </form>
      <div class="col-12 no-padding custom-table-box">
        <table class="table table-responsive table-hover custom-table">
          <thead class="thead-default">
          <tr>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let role of (allRoles | roleFilter: roleStatusFilter)">
            <td>{{role.name}}</td>
            <td>
              <span class="badge badge-success" *ngIf="role.active">Active</span>
              <span class="badge badge-secondary" *ngIf="!role.active">Not active</span>
            </td>
            <td>
              <button type="button" data-toggle="modal" data-target="#EditRole" (click)="readRoleData(role.id)"
                      class="btn btn-light small-btn" title="Edit role">
                <span class="fa fa-edit"></span> Edit
              </button>
            </td>
          </tr>
          <tr *ngIf="!(allRoles | roleFilter: roleStatusFilter).length">
            <td colspan="3" class="empty-table-td">No results!</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EditRole">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ roleEditMode ? 'Edit': 'Add New'}} Role</h5>
      </div>
      <div class="modal-body">
        <div class="row no-side-margin">
          <form class="col-12 no-padding" [formGroup]="roleForm" novalidate (ngSubmit)="saveRole(roleForm.value)">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Role name" formControlName="name" required/>
            </div>
            <div class="form-group">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="RoleStatus" formControlName="active">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Activate role</span>
              </label>
            </div>
            <button type="submit" class="btn custom-btn" [disabled]="roleForm.invalid">Save</button>
            <button type="button" class="btn btn-sm" data-dismiss="modal" (click)="resetRoleForm()">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
